
body {
    margin: 0;
    padding: 0;
    background: #242424; 
    color: #e0e0e0;      
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-header {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #0b3a27; 
}

.chat-history {
    flex: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 50px 20px 60px 20px; 
    background: #838383; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5); 
    padding: 16px;
    overflow-y: auto;
    min-height: 200px;
    max-height: calc(100vh - 120px); 
}

.chat-history::-webkit-scrollbar {
    display: none; 
}

.chat-history > div, 
.chat-history p {
    margin-bottom: 3px; 
    padding: 2px 0;    
    font-size: 15px;    
    line-height: 1.3; 
}


.chat-history strong {
    color: #0b3a27;
}

.chat-footer {
    position: fixed;
    bottom: 10px; 
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

#usuario {
    padding: 6px;
    font-size: 1.5em;
    font-weight: bold;
    color: #888;
    min-width: 120px;
    margin-right: 10px;
    align-self: flex-end;
}

input[type="text"], #mensaje {
    flex: 1;
    padding: 8px;
    font-size: 16px; 
    background-color: #333; 
    color: #e0e0e0; 
    border: 1px solid #555; 
    border-radius: 4px;
    margin-right: 10px;
}

button, #enviar {
    margin-top: 0; 
    padding: 8px 16px;
    background: #0b3a27; 
    color: #121212;   
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

button:hover, #enviar:hover {
    background: #e9b3ff;
}

#respuesta {
    display: none;
    margin-top: 20px;
    color: #bb86fc; 
    font-weight: bold;
}

h2 {
    color: #bb86fc; 
}